<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pytube Downloader</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>

    <script>
        function loading() {
            document.getElementById('loading').style.visibility = 'visible';
        }
    </script>

    <style>
        .loading {
            visibility: hidden;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 95px;
        }

        .logo {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        {% block style %}{% endblock %}
    </style>
</head>

<body>
    <embed class="logo" src="{{ url_for('static', filename='logo.svg') }}" alt="Logo">

    <div class="container">
        {% block content %}{% endblock %}

        <img id="loading" class="loading" src="{{ url_for('static', filename='loading.gif') }}" alt="Loading">
    </div>

    <script>
        var error = '{{error}}'
        if (error) {
            alert(error)
        }
    </script>
</body>

</html>