<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/streams" method="POST">
        <select name="type" id="type">
            <option value="video">Video</option>
            <option value="audio">Audio</option>
        </select>
        <input name="link">
        <input type="submit">
    </form>

    <script>
        var error = '{{error}}'
        if(error){
            alert(error)
        }
    </script>
</body>

</html>