{% extends 'base.html' %}

{% block style %}
    .link {
        border-radius: 4px;
        border: 7px solid #ff2100;
        padding-right: 130px;
        outline: none;
        height: 30px;
        padding: 0 14px;
    }
{% endblock %}

{% block content %}
<form action="/streams" method="POST">
    <input class="link" style="padding-right: 80px;" name="link" size="50" placeholder="Youtube video link here..." autocomplete="off">
    <input class="submit" value="Start" style="height: 43.6px;" type="submit" onclick="loading()">
</form>
{% endblock %}