{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('download') }}" method="POST">
    <div class="input-group">
        <select class="form-select border-danger border-5" name="stream" id="stream">
            {% for i in range(streams |length) %}
                {% with stream = streams[i] %}
                <option value="{{i}}">{{"{} (.{})".format( stream.abr if stream.type == "audio" else stream.resolution, stream.subtype)}}</option>
                {% endwith %}
            {% endfor %}
        </select>
        <input type="hidden" name="link" value="{{link}}" />
        <button class="btn btn-danger" type="submit" onclick="loading()">Select</button>
    </div>
</form>
{% endblock %}