{% extends 'base.html' %}

{% block content %}
<form action="/download" method="POST">
    <select name="stream" id="stream">
        {%for stream in streams%}
        <option value="{{stream.itag}}">{{stream.abr if type == "audio" else "{} - {}".format(stream.resolution,
            stream.subtype)}}</option>
        {%endfor%}
    </select>
    <input type="hidden" name="link" value="{{link}}" />
    <input type="hidden" name="type" value="{{type}}" />
    <input type="submit" value="Download">
</form>
{% endblock %}