<!-- Footer -->
<footer class="site-footer section-padding">
    <!-- Content -->
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center fw-bold d-flex flex-column align-items-center mb-2">
                <span>
                    <a href="https://github.com/diegoborbadev/pytube-downloader" class="navbar-brand mx-auto">
                        <!-- Github Logo -->
                        <i class="bi bi-github text-dark"></i>
                        <!-- Text -->
                        <span class="text-dark">PyTube</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>