<!-- Footer -->
<footer class="site-footer section-padding">
    <!-- Content -->
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-center">
            <!-- Logo -->
            <div class="col-lg-5 text-center fw-bold d-flex flex-column align-items-center mb-2">
                <span>
                    <a class="navbar-brand mx-auto">
                        <!-- Image -->
                        <i style="color: #0e111a;" class="bi-youtube"></i>
                        <!-- Text -->
                        <span style="color: #0e111a;">PyTube</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>