<hr>
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center  d-flex flex-column align-items-center">
                <div class="fw-bold d-flex align-items-center mb-2">
                    <span><a class="navbar-brand mx-auto">
                            <i style="color: #0e111a;" class="bi-youtube"></i>
                            <span style="color: #0e111a;">PyTube</span>
                        </a></span>
                </div>
                <p class="text-muted">Created by
                    <a href="https://github.com/diegoborbadev/" target="_blank"><strong>
                            <span style="color: rgb(2, 1, 22);">Diego Borba😎</span>
                        </strong>
                    </a>
                </p>
                <p class="text-muted">UI Design by
                    <a href="https://github.com/codeIntrovert" target="_blank"><strong>
                            <span style="color: rgb(2, 1, 22);">Hasan🥰</span>
                        </strong>
                    </a>
                </p>
            </div>
        </div>
    </div>

</footer>